
.semantic-menu-header {
  a {
    font: 12px 'opensans-bold', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2.5px;
  }
}

.justify-flex-center {
  justify-content: center;
}

.bright-font {
  a {
    color: #fff;
  }
}

.dark-font {
  a {
    color: black;
  }
}

.portfolio-workgrp-container .portfolio-card {
  &.ui.card > .image > img {
    image-orientation: from-image;
    height: 250px;
  }
}
